body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f5f5f5;
}

h1 {
    color: rgb(102, 101, 101);
}

form {
    max-width: 210px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    text-align: center;
    font-size: large;
}

.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
}

input {
    color: #45a049;
    font-size: 40px;
    font-family: Tahoma;
    margin: auto;
    width: calc(50%);
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 4px;
    background-color: #ffffff;
}

.btn-inc, .btn-dec {
    width: 30px;
    height: 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 10px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: large;
}
    
.btn-dec {
    left: 10;
}

.btn-inc {
    right: 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
}

button[id="tap"] {
    width: calc(50%);
    margin: 8px;
    max-width: 210px;
    background-color: darkgrey;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

button:hover {
    background-color: #45a049;
}

p {
    margin-top: 20px;
}

a {
    color: #333;
    text-decoration: none;
}