<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="/static/assets/metronome.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metrónomo Remoto</title>
    <link rel='stylesheet' type='text/css' href='/static/styles/index.css'>
</head>

<body>
    <h1>Control Metrónomo</h1>
    <form id="settings">
        <label for="tempo">Tempo (BPM):</label>
        <div class="input-group">
            <button type="button" class="btn-dec" onclick="changeValue('tempo', -1, 400, 30)">-</button>
            <input type="number" id="tempo" name="tempo" min="10" max="400" value="100">
            <button type="button" class="btn-inc" onclick="changeValue('tempo', 1, 400, 30)">+</button>
        </div>

        <label for="beat">Tiempos por Compás:</label>
        <div class="input-group">
            <button type="button" class="btn-dec" onclick="changeValue('beat', -1, 24, 1)">-</button>
            <input type="number" id="beat" name="beat" min="1" max="24" value="4">
            <button type="button" class="btn-inc" onclick="changeValue('beat', 1, 24, 1)">+</button>
        </div>

        <label for="bar">Compás.tiempo:</label>
        <div class="input-group">
            <input type="text" id="bar" name="bar" value="0.0" readonly required>
        </div>

        <button type="submit" id="metro_button"></button>
    </form>

    <button type="button" id="tap">Medir Tempo</button>

    <p hidden id="metro_state">{{ metro_running }}</p>
    <p hidden id="start_text">Empezar</p>
    <p hidden id="stop_text">Parar</p>


    <script src="/static/scripts/index.js"></script>

</body>

</html>
